localhost {

  encode gzip

  # ВСЁ что связано со Strapi → backend
  @backend {
    path /admin* /api/* /uploads/* /content-manager/* /upload/* /i18n/* /users-permissions/*
  }

  handle @backend {
    reverse_proxy backend:1337 {
      header_up X-Forwarded-Proto {scheme}
      header_up X-Forwarded-Host {host}
    }
  }

  # всё остальное → frontend
  handle {
    reverse_proxy frontend:3000
  }
}